<div class="site-content container">
  <table>
    <tbody>
      <tr>
        <td i18n>
          title:
        </td>
        <td>
          <input #textbox type="text" [(ngModel)]="title" />
        </td>
      </tr>
      <tr>
        <td i18n>
            categories:
          </td>
          <td>
            <input #textbox type="text" [(ngModel)]="categories" />
          </td>
      </tr>
    </tbody>
  </table>
  <br>
  <input type="checkbox" [checked]="hidden" (change)="onChangeHidden()" /> <span i18n>Hidden entry</span> 
  <br>
  

  <br>     
  <input type="submit" class="btn btn-primary" (click)="onPostButton()" value="Post" /> 
  <a (click)="onUploadImage()"> Upload Image <fa name="upload"></fa></a>
  <a (click)="onSelectImage()"> Select Image <fa name="check"></fa> </a>
  <p></p>  
  
  <simplemde [(ngModel)]="text"></simplemde>
  <br>

  <div *ngIf="entryDTO">
      <input class="btn btn-danger" type="submit" (click)="onDeleteButton()" value="Delete entry" i18n/>
  </div>
  


</div>