
<div  *ngIf="fromDialog">
    <button class="btn btn-secondary" (click)="onUseButton()">Use selected images</button>
  </div>

<div class="tag-card-outer" *ngFor="let entry of filesDTO">

  <div class="card tag-card" style="width: 20rem;">
    <div class="block imgContainer">

      <div class="card-header">
        <span class="card-title">{{entry.filename}}</span>
        <button (click)="delete(entry.filename)" *ngIf="!fromDialog">
          <fa name="trash"></fa>
        </button>
        <button (click)="fileSelected(entry.filename)" *ngIf="fromDialog" > 
          
          <fa *ngIf="alreadySelected(entry.filename)" name="check-circle"></fa> 
          <fa *ngIf="!alreadySelected(entry.filename)" name="check"></fa> 
        </button>
      </div>

      <div class="card-body">
        <div *ngIf="fromDialog">
            <img src="{{urlBase}}{{entry.filename}}" style="width:50%">
        </div>
        <div *ngIf="!fromDialog">
            <img src="{{urlBase}}{{entry.filename}}" >
          </div>
      </div>
      <p class="card-text">{{urlBase}}{{entry.filename}}</p>
    </div>
  </div>
  <br>
</div>

<ng-container *ngIf="filesDTO">
  <div *ngFor="let item of filesDTO | 
  paginate: { itemsPerPage: itemsPerPage, currentPage: 
    pageNow,totalItems:totalItems  }">
  </div>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</ng-container>