<div class="starter-template">
    <h1><tag-chip [tagName]="categoryName"></tag-chip></h1>
  </div>
  

<div class="list-group" *ngIf="entryList">
  <div *ngFor="let entry of entryList">
    <a class="list-group-item list-group-item-action flex-column align-items-start background-light-gray" routerLink="/entry/{{entry.name}}" routerLinkActive="active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{entry.title}}</h5>
        <small>{{timeSince(entry.created_at)}}</small>
      </div>
      <div class="mb-1">
          <div *ngIf="entry.categories">
              <span *ngFor="let cat of entry.categories" >
                  <tag-chip [tagName]="cat"></tag-chip>
              </span> 
          </div>
        </div>
    </a>
    <br>
  </div>
</div>
