<div class="starter-template">
  <div *ngIf="entryDTO">
    <h1>{{entryDTO.title}}</h1>
    <!--<p class="lead">{{entryName}}</p>!-->
    <p>{{formatDate(entryDTO.created_at)}}</p>
    <span *ngFor="let cat of entryDTO.categories" >
        <tag-chip [tagName]="cat"></tag-chip>
    </span> 
    <p><a class="nav-link" routerLink="/edit/{{entryDTO.name}}" *ngIf="authService.authenticated" routerLinkActive="active">    <fa name="cog" animation="spin"></fa></a></p>     
  </div>
</div>

<!--


<div *ngIf="entryDTO.categories">
    <div *ngFor="let cat of entryDTO.categories">
      <a routerLink="/category/{{cat}}" routerLinkActive="active">
        <span class="badge badge-pill badge-secondary">
          {{cat}}
        </span>
      </a>
    </div>
  </div>
!-->

<div *ngIf="entryDTO" class="site-content container">
    <div Markdown>
      {{entryDTO.content}}
    </div>
</div>