<div class="list-group" *ngIf="entryListInPage">
  <div *ngFor="let entry of entryListInPage">
    <div class="card">
      <div class="d-flex w-100 justify-content-between" style="padding:15px">
        <h2 class="mb-1" > 
            <a routerLink="/entry/{{entry.name}}" routerLinkActive="active">
              {{entry.title}}
            </a>
          </h2>
        <br>
        <small>{{timeSince(entry.created_at)}}</small>
      </div>
      <div class="card-footer text-muted">
          <div *ngIf="entry.categories">
              <span *ngFor="let cat of entry.categories" >
                  <tag-chip [tagName]="cat"></tag-chip>
              </span> 
          </div>
        </div> 
      </div>
    <br>
  </div>
  <ng-container *ngIf="entryList">
  <div *ngFor="let item of entryListInPage | 
                          paginate: { itemsPerPage: itemsPerPage, currentPage: 
                            pageNow,totalItems:totalItems  }"></div>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </ng-container>    
</div>