<div class="starter-template">
  <h1 i18n>Entries</h1>
</div>


<div class="list-group" *ngIf="entryListInPage">
  <div *ngFor="let entry of entryListInPage">
    <a class="list-group-item list-group-item-action flex-column align-items-start background-light-gray" routerLink="/entry/{{entry.name}}" routerLinkActive="active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{entry.title}}</h5>
        <small>{{timeSince(entry.created_at)}}</small>
      </div>
      <div class="mb-1">
          <div *ngIf="entry.categories">
              <span *ngFor="let cat of entry.categories" >
                  <tag-chip [tagName]="cat"></tag-chip>
              </span> 
          </div>
        </div>
    </a>
    <br>
  </div>
  <ng-container *ngIf="entryList">
  <div *ngFor="let item of entryListInPage | 
                          paginate: { itemsPerPage: itemsPerPage, currentPage: 
                            pageNow,totalItems:totalItems  }"></div>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </ng-container>    
</div>